body{
    font-family: 'Inter', sans-serif;
    background-color: #101820ff;
    margin: 0;
}
form{
    width: 50%;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color: #fee715ff;
    align-items: center;
    height: 45vh;
    margin-top: 30vh;
}
.container, .fetchedinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
}
.fetchedinfo{
    gap: 0;
}

.heading{
    font-size: 1.75rem;
    font-weight: bold;
}

.borderbox, .borderbox2{
    width: 80%;
    height: 85%;
    border: 3px solid #064635;
    border-radius: 10px;
    margin: 1%;
}
.borderbox2{
    border: 3px solid #fee715ff;
    /* visibility: hidden; */
}

.dateday{
    font-size: 1.25rem;
}
.cityname{
    font-size: 1.5rem;
    font-weight: 700;
    color: #0B4619;
}
.temp{
    font-size: 1.75rem;
    font-weight: 900;
    color: #0E185F;
}
.sunrisesunset{
    color: #aa3601;
    font-size: 1.5rem;
    font-weight: 700;
}
.morefetchedinfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.typeofweather{
    font-size: 1.5rem;
    font-weight: 700;
    
    color: #550019;
}
.subdiv{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3E065F;
}