canvas{
    background-color: lightgoldenrodyellow;
    border: 10px solid purple;
}
body{
    background-color: #FDEBF7;
}
#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* #menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#btns,#select{
    display: flex;
    flex-direction: column;
} */
span,p{
    font-family: 'Quintessential', cursive;
    font-weight: 600;
    font-size: 50px;
    color: rgb(80, 1, 80);
}

/* #select span{
    font-family: 'Source Serif 4', sans-serif;
    font-size: 30px;
    color: rgb(80, 1, 80);
} */